﻿@using MarketWeb.Web.Startup
@using MarketWeb.Orders.Dtos

@model OrderDto

@{
    ViewBag.Title = L("MyOrders");
    ViewBag.CurrentPageName = PageNames.MyOrders;
}

<h2>
    Order Created At @Html.DisplayFor(model => model.CreationTime)
</h2>
<br />

<h3>
    Order State : @MarketWeb.Orders.OrderState.State2String[Model.State]
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Count)
            </th>
            <th>
                @L("TotalPrice")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductID">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @item.TotalPrice()
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @Model.TotalOrderPrice()
            </td>
        </tr>
    </tbody>
</table>

<a asp-action="Index">Back To Orders</a>