﻿@using MarketWeb.Web.Startup
@using MarketWeb.Orders.Dtos
@using MarketWeb.Orders

@model IEnumerable<OrderDto>

@{
    ViewBag.Title = L("MyOrders");
    ViewBag.CurrentPageName = PageNames.MyOrders;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                Total Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationTime)
                </td>
                <td>
                    @OrderState.State2String[item.State]
                </td>
                <td>
                    @item.TotalOrderPrice()
                </td>
                <td>
                    <a asp-controller="MyOrders" asp-action="Details" asp-route-orderId="@item.Id">@L("Details")</a>
                </td>
            </tr>
        }
    </tbody>
</table>