﻿@using MarketWeb.Products.Dtos

@model ProductDto

@{
    ViewBag.Title = L("AddProduct");
}

<h3>Add Product To @Model.Company.Name</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProductToCompany" asp-route-companyID="@Model.CompanyID" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
