﻿@using MarketWeb.Web.Startup
@using MarketWeb.Companies.Dtos

@model CompanyDto

@{
    ViewBag.Title = L("Company Details");
}

<h3>@Model.Name Company Details</h3>
<br />

<h3>@Html.DisplayNameFor(model => model.Discription) : </h3>
<p>@Model.Discription</p>

<h4>Products</h4>

@if (IsGranted(MarketWeb.Authorization.PermissionNames.ProductsARU))
{
    <p>
        <a class="btn bg-blue float-sm-right" asp-action="AddProductToCompany" asp-route-companyID="@Model.Id">Add Product</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@L("Details")</a>
                    @if (IsGranted(MarketWeb.Authorization.PermissionNames.ProductsARU))
                    {
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">@L("Edit")</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">@L("Delete")</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>