﻿@using MarketWeb.Web.Startup
@using MarketWeb.Companies.Dtos

@model IEnumerable<CompanyDto>
@{
    ViewBag.Title = L("Companies");
    ViewBag.CurrentPageName = PageNames.Companies;
}

@if (IsGranted(MarketWeb.Authorization.PermissionNames.CompaniesARU))
{
    <p>
        <a class="btn bg-blue float-sm-right" asp-action="Create">Create New</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@L("Details")</a>

                    @if (IsGranted(MarketWeb.Authorization.PermissionNames.CompaniesARU))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">@L("Edit")</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">@L("Delete")</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>