﻿@using MarketWeb.Products.Dtos
@using MarketWeb.Authorization

@{
    ViewBag.Title = L("ProductDetails");
}

@model ProductDto

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Company Name
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.CompanyID">
                @Html.DisplayFor(model => model.Company.Name)
            </a>
        </dd>
    </dl>
</div>
<div>
    @if (IsGranted(PermissionNames.ProductsARU))
    {<a asp-action="Edit" asp-route-id="@Model.Id">@L("Edit")</a>}

    @if (User.Identity.IsAuthenticated)
    {
        if (ViewBag.IsInCart)
        {
            <div>
                <a asp-controller="Cart" asp-action="Remove" asp-route-productId="@Model.Id">Remove from cart</a>
            </div>
        }
        else
        {
            <div>
                <a asp-controller="Cart" asp-action="Add" asp-route-productId="@Model.Id">Add to cart</a>
            </div>
        }

    }
    else
    {
        <div>
            <a asp-controller="Cart" asp-action="Add" asp-route-productId="@Model.Id">Add to cart</a>
        </div>
    }
</div>