﻿@using MarketWeb.Web.Startup
@using MarketWeb.Web.Models.Products

@model ProductViewModel
@{
    ViewBag.Title = L("Products");
    ViewBag.CurrentPageName = PageNames.Products;
}

<form asp-action="Index">
    <p>
        Product Name : <input type="text" name="keyword" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Company.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@L("Details")</a>
                @if(IsGranted(MarketWeb.Authorization.PermissionNames.ProductsARU))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">@L("Edit")</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">@L("Delete")</a>
                }
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @if(!Model.ProductsInUserCart.Select(p=>p.Id).Contains(item.Id))
                    {
                        <a asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Id">Add to cart</a>
                    }
                    else
                    {
                        <a asp-controller="Cart" asp-action="Remove" asp-route-productId="@item.Id">Remove from cart</a>
                    }
                </td>
            }
            else
            {
                <td>
                    <a asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Id">Add to cart</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>