﻿@using MarketWeb.Web.Startup
@using MarketWeb.Carts.Dtos

@model CartDto

@{
    ViewBag.Title = L("Cart");
    ViewBag.CurrentPageName = PageNames.Cart;
}

@if (Model.Items.Count == 0)
{
    <h2>@L("CartIsEmpty")</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Product.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Count)
                </th>
                <th>
                    Base Price
                </th>
                <th>
                    Total Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
            <tr>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductID">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    <a asp-action="IncrementItemCount" asp-route-productId="@item.ProductID" asp-route-currentCount=@item.Count>+</a>
                    @Html.DisplayFor(modelItem => item.Count)
                    <a asp-action="DecrementItemCount" asp-route-productId="@item.ProductID" asp-route-currentCount="@item.Count">-</a>
                </td>
                <td>
                    @item.Product.Price
                </td>
                <td>
                    @item.TotalPrice()
                </td>
                <td>
                    <a asp-action="Remove" asp-route-productId="@item.ProductID">@L("Remove")</a>
                </td>
            </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Model.TotalCartPrice()
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn bg-blue float-sm-right" asp-action="Confirm">Confirm</a>
}

