﻿@using Abp.Authorization.Users
@{ ViewBag.Title = L("UpdatePassword"); }
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Users/ChangePassword.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Users/ChangePassword.min.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("UpdatePassword")</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form id="ChangePassword" autocomplete="off" class="form-horizontal">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("CurrentPassword")</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="CurrentPassword" id="CurrentPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Password")</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="NewPassword" id="NewPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("ConfirmPassword")</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary save-button">@L("Save")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>